@charset "UTF-8";
* {
	margin:0;
	box-sizing: border-box;
}

.header{
	position:relative;
	height:200px;
}

div.header img{
	width: 100%;
	height: 200px;
	opacity:0.5;	
}

.center{
	position:absolute;
	top:50%;
	width:100%;	
	transform: translate(0%, -50%);
}

div.header .title{
	color:black;
	font-size:150%;
	text-align:center;
}

.topnav{
	display:flex;
	background-color:#333;
}
.topnav2{
	display:flex;
	background-color:white;
	justify-content: flex-end;
}


div.topnav a{
	flex-direction:column;
	color:white;
	padding: 14px 20px;
	text-decoration:none;
	text-align:center;	
}
div.topnav2 a{
	flex-direction:column;
	color:black;
	padding: 14px 20px;
	text-decoration:none;
	text-align:center;	
}

div.topnav li{
 float:left;
}
div.topnav2 li{
 float:left;
}

div.topnav a{
 height:30px;	
 display:block;
 color:white;
 padding:5px 10px;
 text-decoration:none;
}
div.topnav2 a{
 height:30px;	
 display:block;
 color:black;
 padding:5px 10px;
 text-decoration:none;
 background-color:#4caf50;
}

div.topnav a:hover{
	background-color:#4caf50;	
	color:black;
}
 div.topnav2 a:hover{
	background-color:#4caf50;	
	color:white;
}

.content{ 
	display:flex;
	flex-wrap:wrap;	
	height:100%;
	width: 100%;
}

.title center
{
 color:black;
 font-size:120%;
}


.main{
	display:flex;
	flex:70%;
}

.side{
	flex:30%;
}

.card{
	width:100%;
	margin-top:10px;
	margin-left:5px;	
}

.card_text{
	border: 1px dotted black;
	width:200px;
	height:50px;
	background-color:#eee;
	overflow-x:hidden;
	overflow-y:scroll;
}

#login, #logout{
  justify-content:flex-end;
   margin-left: auto;
  order:0; 
}

.footer{
   position:absolute;
   display:flex;
   left: 0;
   width: 100%;
   min-height:8vh;
   margin-top:0px; 
   margin-bottom :0px;
   padding: 15px 0;
   justify-content: center; 
}

@media only screen and (max-width:750px)
{
 div.content, .topnav, .main
  {
   flex-direction:column;
  }
 #login
  {
  margin-left:0;
  }
 #logout
  {
   margin-left:0;
  }
 #mypage
  {
   margin-left:0;
  }
}

.modal
{
	display:none;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0, 0.5);
	position:fixed;
	top:0;
	left:0;
}


.pop_layer
{
	display:block;
	background-color:white;
	width:400px;
	height:400px;
	box-shadow : 0 4px 8px 0 rgba(0,0,0, 0.9);
	position:fixed;
	left:50%;
	top:50%;
	border: 3px solid #3e8e41;
	transform: translate(-50%, -50%);
}

.pop_header
{
	display:flex;
	justify-content:space-between;
}

.pop_content
{
	position:absolute;
	left:50%;
	top:50%;
	text-align:center;
	background-color:skyblue;
	opacity:0.4;
	transform: translate(-50%, -50%);
	color:#ffffff;
}

.logpw:focus
{
 transition: width 0.4s ease-in-out;
 font-size:20px;
 background-color:#ffffff;	
 border:none;
 border-bottom: 3px solid red;
 width:150px;
 display:inline-block;
 margin: 0px 8px 8px;
}

.passwd_btn
{ 
	border:none;
	border-bottom: 2px solid red;
	margin:5px;
	width:150px;
	height:35px;
	background-color:#ff80c0;	
}

.login_btn
{
	margin:5px;
	width:70px;
	height:35px;
	background-color:#ff80c0;
}

input[type=text], input[type=password], select{
	font-size:20px;
	width:250px;
	padding:8px;
	margin:0px 8px 10px;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
}

input[type=reset], input[type=submit], input[type=button]{
	background-color:skyblue;
	border:none;
	color:white;
	padding:8px 20px;
	text-decoration:none ;
	margin:4px 2px ;
	cursor:pointer;
	border-radius:4px;
	font-size:16px;
	
}


textarea {
	width:100%;
	height:150px;
	padding:12px 20px;
	border:2px solid #ccc;
	border-radius:4px;
	background-color:#f8f8f8;
	font-size:16px;
	resize:none;
}

input[type=checkbox], input[type=radio]{
	 width:15px;
	 height:15px;
	 border:1px;
}

input[type=reset]{
	float:right;
}

table{
	border-collapse: collapse;
	width: 100%;
}
thead{
	background-color: lightblue;
}

td, th{
	padding: 8px;
	border-bottom: 1px solid #ddd;
	text-align:center;
}

tbody tr:hover{
	background-color: #f5f5f5;
}

.button{
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3e8e41;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom:13px;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}













